<% if current_user && session.id %>
	<%= form_for @ledger do |f| %>

	<% if @ledger.errors.any? %>
	<div id="error_explanation">
	  <h2>
	    <%= pluralize(@ledger.errors.count, "error") %> prohibited
	    this ledger from being saved:
	  </h2>
	  <ul>
	    <% @ledger.errors.full_messages.each do |msg| %>
	      <li><%= msg %></li>
	    <% end %>
	  </ul>
	</div>
	<% end %>

	<p>
	<%= f.label :income %><br>
	<%= f.text_field :income %>
	</p>

	<p>
	<%= f.label :expense %><br>
	<%= f.text_field :expense %>
	</p>

	<p>
	<%= f.submit %>
	</p>

	<% end %>
<% end %>